body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eefaff;
}

h1 {
    color: #005b99;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
    width: 1400px;
}

#cell-area {
    position: relative;
    width: 500px;
    height: 650px;
    flex-shrink: 0;
    overflow: hidden;
}

#cell-area .draggable {
    position: absolute;
    width: 80px;
    z-index: 5;
}

.cell-image {
    width: 100%;
}

.drop-zone {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px dashed transparent;
    border-radius: 50%;
}

.drop-zone.hover {
    border-color: #00a33d;
}

#organelles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: #2bc7e0;
    padding: 10px;
    border-radius: 10px;
    width:400px;
}

.draggable {
    width: 110px;
    cursor: grab;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    transition: transform 0.2s;
    user-select: none;
    -webkit-user-drag: element;
    position: relative;
}

.draggable:active {
    cursor: grabbing;
    transform: scale(1.05);
}

#feedback {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}